<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary text-white">
        <a href="/" class="navbar-brand text-white ms-5">Home</a>
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/create" class="nav-link text-white">Register</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Login</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    {%block body_block%}
    {%endblock%}
</body>
</html>