{%extends 'myapp/base.html'%}
{%block body_block%}
<div class="container mt-5">
    <a href="/create" class="btn btn-primary btn-md">Create</a>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-sm-10">
            {%if employee_list%}
                <table class="table table-bordered table-striped table-hober text-center table-responsive-sm">
                    <thead >
                        <tr >
                            <th class="bg-primary text-white">Employee ID</th>
                            <th class="bg-primary text-white">Employee Name</th>
                            <th class="bg-primary text-white">Employee Salary</th>
                            <th class="bg-primary text-white">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for emp in employee_list%}
                            <tr>
                                <td>{{emp.EmployeeId}}</td>
                                <td>{{emp.EmployeeName}}</td>
                                <td>{{emp.EmployeeSalary}}</td>
                                <td>
                                    <a href="/{{emp.EmployeeId}}/">
                                        <i class="bi bi-binoculars fs-4 text-primary"></i>
                                    </a>
                                     <a href="/edit/{{emp.EmployeeId}}/" class="ms-3">
                                        <i class="bi bi-pencil-square fs-4 text-warning"></i>
                                    </a>
                                    <a href="/delete/{{emp.EmployeeId}}/" class="ms-3">
                                        <i class="bi bi-pencil-square fs-4 text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%else%}
             <p class="h1 text-danger text-center">Recrods Not Found</p>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}