<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link rel='stylesheet' href='main.css'>
</head>
<body>
    <h1 style="text-align: center;">Home Page</h1>
    <h3 style="text-align: center;">Student ID : {{ID}}</h3>
    <h3 style="text-align: center;">Student Name : {{Name}}</h3>
    <h3 style="text-align: center;">Student Age : {{Age}}</h3>
     <h3 style="text-align: center;">Student Qualification : {{Edu}}</h3>
      <h3 style="text-align: center;">Student Marks : {{Marks}}</h3>
</body>
</html>